<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidProject"
        tools:targetApi="31">

        <!-- LoginActivity de votre ami est la première activité lancée -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity de votre ami (après connexion) -->
        <activity android:name=".MainActivity" />

        <!-- Votre propre MainActivity, renommée pour éviter les conflits -->
        <activity android:name=".RestaurantMainActivity" />

        <!-- Ajout de l'activité AddRestaurantActivity -->
        <activity android:name=".AddRestaurantActivity" />

        <!-- Ajout de l'activité MenuActivity -->
        <activity android:name=".MenuActivity" />

        <!-- Ajout de l'activité AddMenuItemActivity -->
        <activity android:name=".AddMenuItemActivity" />

        <!-- Autres activités existantes -->
        <activity android:name=".SignupActivity" />
        <activity android:name=".ProfileSettingsActivity" />

        <activity android:name=".FeedbackActivity" android:exported="true" />

    </application>

</manifest>
