<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidproject">

    <!-- Permissions for Location, Internet, and Network Access -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <!-- Your app's metadata (Google Maps API Key is not needed for Directions API, but if you plan to use a map, include it) -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidProject"
        tools:targetApi="31">

        <!-- Meta-data for Google Maps API Key (needed only if you are using Google Maps for visualization) -->
        <!-- Remove this line if not using Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAvtu72sBVpbFH8oO1Ibqz2xHnMYMPMVT8" />


        <!-- Your activities -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".RestaurantMainActivity" />
        <activity android:name=".AddRestaurantActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".OrdersActivity" />

        <!-- Ajout de l'activité MenuActivity -->
        <activity android:name=".MenuActivity" />
        <activity android:name=".AddMenuItemActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".ProfileSettingsActivity" />
        <activity android:name=".RestaurantLocationActivity" android:exported="true" />
        <activity android:name=".FeedbackActivity" android:exported="true" />
        <activity android:name=".MapsActivity" android:exported="true" />
        <activity android:name=".ReceiptActivity" android:exported="true" />
        <activity android:name=".DeliveryListActivity"></activity>


    </application>

</manifest>
